.place-bet-form {
  width: 100vw;
  height: 100vh;
  background: #f1f7fc;
  padding: 80px 0;
}

.place-bet-form form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  .form-group h6 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
  }
}

.place-bet-form form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  padding: 10px;
  outline: none;
  color: inherit;
  text-indent: 0px;
  height: 42px;
}

.place-bet-form form .btn-primary {
  background: #0090ead7;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
  color: #ffffff;
}

.place-bet-form form .btn-primary:hover,
.place-bet-form form .btn-primary:active {
  background: #0090ea;
}

.place-bet-form form .btn-primary:active {
  transform: translateY(1px);
}

.place-bet-form form .demo-option {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #0090ea;
  opacity: 0.9;
  text-decoration: underline;
}

.place-bet-form form .demo-option:hover,
.place-bet-form form .demo-option:active {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}

.place-bet-form {
  img {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: aliceblue;
  }
}

// generate select styles from theme
.place-bet-form form select {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    width: 100%;
    color: inherit;
    text-indent: 0px;
    height: 42px;
    margin-bottom: 10px;
}
